.header {
    background: #F0F0F0;
    border: 1px solid #CCC;
    width: 880px;
    margin: 0 auto;
    font-size: 40px;
    padding: 20px 40px;
}

.header h1 {
    font-size: 40px;
}

.header span {
    font-size: 20px;
    float: right;
    bottom: 20px;
}